EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyDaiqjy3aFWZC_L0iecpI96wyH0tKQMmYU"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="pud-ai.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="pud-ai"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="pud-ai.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="1039922806105"
EXPO_PUBLIC_FIREBASE_APP_ID="1:1039922806105:web:5250db0a757ede7b566048"
